<h1>Items</h1>

<% @unwatched.each do |item| %>
  <div>
    <p><%= item.title %></p>
    <%= image_tag item.main_thumb %>
    <ul>
      <% item.bids.each do |bid| %>
        <li>
          <%= bid.amount %> SEK - <%= bid.timestamp %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
